ayuda.txt
AppEscritorio1/AppEscritorio1/bin/
AppEscritorio1/AppEscritorio1/obj/
AppEscritorio1/AppEscritorio1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AppEscritorio1/AppEscritorio1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AppEscritorio1/AppEscritorio1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AppEscritorio1/AppEscritorio1/obj/Debug/DesignTimeResolveAssemblyReferences.cache
AppEscritorio1/AppEscritorio1/obj/Debug/AppEscritorio1.Properties.Resources.resources
AppEscritorio1/AppEscritorio1/obj/Debug/AppEscritorio1.Ventana1.resources
AppEscritorio1/AppEscritorio1/obj/Debug/AppEscritorio1.csproj.CoreCompileInputs.cache
AppEscritorio1/AppEscritorio1/obj/Debug/AppEscritorio1.csproj.FileListAbsolute.txt
AppEscritorio1/AppEscritorio1/obj/Debug/AppEscritorio1.csproj.GenerateResource.cache
AppEscritorio1/AppEscritorio1/obj/Debug/AppEscritorio1.exe
AppEscritorio1/AppEscritorio1/obj/Debug/AppEscritorio1.pdb
AppEscritorio1/AppEscritorio1/obj/Debug/AppEscritorio1.csproj.AssemblyReference.cache
AppEscritorio1/.vs/AppEscritorio1/v16/.suo